mat-form-field {
    width: 100%;
}

mat-card {
    width: 66%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

span {
    margin-left: 5px;
}

mat-icon {
    margin-right: 5px;
}