<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Fill out your info!</mat-card-title>
    <mat-card-subtitle>
      <button mat-button (click)="getFbInfo()">Use your Facebook info</button>
      <button mat-button (click)="logout()">Disconnect from Facebook</button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName">
          <mat-error *ngIf="form.get('firstName').hasError('required') && form.get('firstName').touched">
            First name is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('firstName').hasError('pattern') && form.get('firstName').touched">
            Name should not contain numbers or symbols.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Middle name" formControlName="middleName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName">
          <mat-error *ngIf="form.get('lastName').hasError('required') && form.get('lastName').touched">
            Last name is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('lastName').hasError('pattern') && form.get('lastName').touched">
            Name should not contain numbers or symbols.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input date maxlength="10" matInput placeholder="Date of birth" formControlName="dateOfBirth">
          <mat-error *ngIf="form.get('dateOfBirth').hasError('required') && form.get('dateOfBirth').touched">
            Date of birth is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('dateOfBirth').errors?.pattern != undefined">
            Date of birth should be in
            <strong>YYYY/MM/DD</strong> format.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input ssn maxlength="11" matInput placeholder="SSN" formControlName="ssn">
          <mat-error *ngIf="form.get('ssn').hasError('required') && form.get('ssn').touched">
            SSN is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('ssn').errors?.pattern && form.get('ssn').touched">
            SSN should be
            <strong>xxx-xx-xxxx</strong> format.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="form.get('email').hasError('required') && form.get('email').touched">
            Email is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('email').errors?.email && form.get('email').touched">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input phone maxlength="14" matInput placeholder="Phone number" formControlName="phone">
          <mat-error *ngIf="form.get('phone').hasError('required') && form.get('phone').touched">
            Phone number is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('phone').errors?.pattern && form.get('phone').touched">
            Phone number should be
            <strong>(xxx) xxx-xxxx</strong> format.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Address line 1" formControlName="street1">
          <mat-error *ngIf="form.get('street1').hasError('required') && form.get('street1').touched">
            Address is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput #street2 placeholder="Address line 2" formControlName="street2">
        </mat-form-field>

        <mat-form-field>
          <input matInput #city placeholder="City" formControlName="city">
          <mat-error *ngIf="form.get('city').hasError('required') && form.get('city').touched">
            City is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select #state placeholder="State" formControlName="state" value="VA">
            <mat-option value="Virginia">VA</mat-option>
            <mat-option value="New York">NY</mat-option>
            <mat-option value="WV">WV</mat-option>
            <mat-option value="California">CA</mat-option>
            <mat-option value="WA">WA</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('state').hasError('required') && form.get('state').touched">
            State is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input #zip matInput placeholder="ZIP code" formControlName="zip">
          <mat-error *ngIf="form.get('zip').hasError('required') && form.get('zip').touched">
            ZIP code is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.get('zip').errors?.pattern && form.get('zip').touched">
            ZIP code should be either
            <strong>xxxxx</strong> or
            <strong>xxxxx-xxxx</strong> format.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select #country placeholder="Country" formControlName="country">
            <mat-option value="United States">United States</mat-option>
            <mat-option value="Canada">Canada</mat-option>
            <mat-option value="North Korea">North Korea</mat-option>
            <mat-option value="Russia">Russia</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('country').hasError('required') && form.get('country').touched">
            Country is
            <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>
    </form>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let work of workHistory">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-chip-list>
              <mat-chip [color]="primary">{{work.start_date | year}}</mat-chip>
            </mat-chip-list>
            <div style="display:flex;">
              <span style="align-self:center;">{{work.employer.name}}</span>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            {{work.position.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display:flex;">
          <mat-icon style="align-self:center;">date_range</mat-icon>
          <div style="align-self:center;">
              {{work.start_date | date}} - {{work.end_date | isCurrent}}
          </div>
        </div>
        <div style="display:flex;" *ngIf="work.description">
          <mat-icon style="align-self:center;">info_outline</mat-icon>
          <span style="align-self:center;">{{work.description}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Submit</button>
  </mat-card-actions>
</mat-card>